[mcu cartographer]
#canbus_uuid: 0ca8d67388c2 
serial: /dev/serial/by-id/usb-Cartographer_stm32f042x6_22000980114330394D363620-if00
#    adjust to suit your scanner, if using usb change to serial

[cartographer]
mcu: cartographer            
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 29.5
#    adjust for your cartographers offset from nozzle to middle of coil


[bed_mesh]
zero_reference_position: 171, 175    
#    set this to the middle of your bed
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 2.5
#    height of scanner during bed mesh scan
mesh_min: 10,30
#    start point of bed mesh [X, Y]
mesh_max: 325,325
#    end point of bed mesh [X, Y]
probe_count: 25,25
algorithm: bicubic
bicubic_tension: 0.2
split_delta_z: 0.015
move_check_distance:3
adaptive_margin: 5
fade_start: 1
fade_end: 2
fade_target: 0


[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 0
max_temp: 105

[adxl345]
cs_pin: cartographer:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    171, 175, 20
    
[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
   20,5   # Point 1
   20,285  # Point 2
   310,285 # Point 3
   310,5  # Point 4
speed: 300                   
horizontal_move_z: 8     
retry_tolerance: 0.01000
retries: 20
max_adjust: 30

[homing_override]
gcode:
  G91 
  G0 Z5 F1200 
  G4 P3000
  {% if not rawparams or 'Y' in rawparams %}
    {action_respond_info('Homing Y')}
    G28 Y
    G90
    G0 Y175 F2000
    M400 
  {% endif %}
  {% if not rawparams or 'X' in rawparams %}
    {action_respond_info('Homing X')}
    G28 X
    G90 
    G0 X175 F2000
    M400
  {% endif %}
  {% if not rawparams or 'Z' in rawparams %}
    {action_respond_info('Homing Z')}
    G90 
    G0 X175 Y175 F2000
    G28 Z
    G91 
    G0 Z5 F1200 
    M400 
  {% endif %}
  G90
axes: xyz
set_position_z: 0

